$def with (coll)

<feed xmlns="http://www.w3.org/2005/Atom">
  <title>$coll.get_title()</title>
  <updated>$coll.get_updated()</updated>
  <id>$coll.get_guid()feed</id>
  <author>
    <name>$coll.get_author()</name>
  </author>
  
  <entry>
    <title>$coll.get_title() (Updates)</title>
    <id>$coll.get_guid()fragments</id>
    <updated>$coll.get_updated()</updated>
    <link href="/fragments/$coll.get_id()"
             rel="alternate" 
             type="application/atom+xml"/>
    <link href="/fragments/$coll.get_id()" 
             rel="http://www.sdshare.org/2012/core/fragmentsfeed" 
             type="application/atom+xml"/>
  </entry>

  <entry>
    <title>$coll.get_title() (Snapshots)</title>
    <id>$coll.get_guid()snapshots</id>
    <updated>$coll.get_updated()</updated>
    <link href="/snapshots/$coll.get_id()"
             rel="alternate"
             type="application/atom+xml"/>
    <link href="/snapshots/$coll.get_id()"
             rel="http://www.sdshare.org/2012/core/snapshotsfeed" 
             type="application/atom+xml"/>
  </entry>
</feed>
