$def with (coll, since)

<feed xmlns="http://www.w3.org/2005/Atom"
       xmlns:sdshare="http://www.egovpt.org/sdshare">
  <title>Fragments for $coll.get_title()</title>
  <updated>$coll.get_updated()</updated>
  <id>$coll.get_guid()fragmentfeed</id>
  <author>
    <name>$coll.get_author()</name>
  </author>

  $ page = coll.get_fragments(since)
  $if page.has_next_page():
    <link rel="next" href="?$page.get_params()"/>
  
  $for frag in page.get_fragments():
    <entry>
      <title>$frag.get_title()</title>
      <id>$frag.get_id()</id>
      <updated>$frag.get_updated()</updated>
      <link href="/fragment/$coll.get_id()/$frag.get_id()"
               rel="alternate" 
               type="$frag.get_syntax()"/>
      <link href="/fragment/$coll.get_id()/$frag.get_id()"
               rel="http://www.sdshare.org/2012/core/fragment" 
               type="$frag.get_syntax()"/>
      <sdshare:resource>$frag.get_uri()</sdshare:resource>
    </entry>
</feed>
