$def with (coll, since, offset)

<feed xmlns="http://www.w3.org/2005/Atom"
       xmlns:sdshare="http://www.egovpt.org/sdshare">
  <title>Fragments for $coll.get_title()</title>
  <updated>$coll.get_updated()</updated>
  <id>http://www.example.org/collectons/collection-one</id>
  <author>
    <name>Lars Marius Garshol</name>
  </author>
  <link href="" rel="self"/>
  <sdshare:ServerSrcLocatorPrefix>$coll.get_uri()</sdshare:ServerSrcLocatorPrefix>
  $ page = coll.get_fragments(since, offset)
  $if page.has_next_page():
    <link rel="next" href="?$page.get_params()"/>
  
  $for frag in page.get_fragments():
    <entry>
      <title>No title</title>
      <id>$frag.get_id()</id>
      <updated>$frag.get_updated()</updated>
      <link href="/fragment/$coll.get_id()/$frag.get_id()"
               rel="alternate" 
               type="$frag.get_syntax()"/>
      <sdshare:TopicSI>$frag.get_uri()</sdshare:TopicSI>
    </entry>
</feed>
