$def with (server)
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>$server.get_title()</title>
  <updated>$server.get_timestamp()</updated>
  <id>$server.get_guid()</id>

  <author>
    <name>$server.get_author()</name>
  </author>

  $for coll in server.get_collections():
    <entry>
      <title>$coll.get_title()</title>
  
      <link rel="http://www.sdshare.org/2012/core/collectionfeed"
            type="application/atom+xml"
            href="collection/$coll.get_id()"/> 
      <link rel="alternate"
            type="application/atom+xml"
            href="collection/$coll.get_id()"/> 
      <id>$coll.get_guid()entry</id>
      <updated>$coll.get_updated()</updated>
    </entry>

</feed>
